doctype html
html(lang="en")
  head
    title CropMobster
    link(rel='icon' type='image/png' href='static/img/cromo_logo.jpg')
    link(rel='stylesheet', href='static/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    include includes/header.pug
    block main
    //- include includes/footer.pug
    //- script(src='static/js/main.js')
